@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset simples */
* { box-sizing: border-box; }
html, body, #root { height: 100%; }

/* scrollbar discreta no dark */
:root {
  color-scheme: dark;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}